infra/n8n_workflows/01_pipeline_trigger.json
{
  "name": "01 — Pipeline Trigger (Schedule → FastAPI)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Dispara todo dia às 8h (horário de Brasília). Ajuste hora/minuto conforme necessidade."
    },
    {
      "parameters": {
        "content": "## Etapa 1 — Trigger diário\n\nTodo dia às 8h (Brasília), aciona o pipeline no Railway.\n\n**X-API-Key** via credencial n8n `Pipeline API Key` (sincronizada por setup_n8n.py).\n**URL** via `$env.PIPELINE_API_BASE_URL` (infra/.env.n8n).",
        "height": 200,
        "width": 380
      },
      "id": "sticky-note-1",
      "name": "Nota — Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PIPELINE_API_BASE_URL }}/api/v1/pipeline/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"youtube_dark\",\n  \"production\": true,\n  \"research\": true,\n  \"upload\": true,\n  \"max_videos\": 1,\n  \"language\": \"pt-BR\",\n  \"metadata\": {\n    \"triggered_by\": \"n8n_schedule\",\n    \"workflow\": \"01_pipeline_trigger\"\n  }\n}",
        "options": {}
      },
      "id": "http-run-pipeline",
      "name": "POST Pipeline Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIPELINE_API_CREDENTIAL_ID",
          "name": "Pipeline API Key"
        }
      },
      "notes": "Envia POST para /api/v1/pipeline/run. X-API-Key via credencial 'Pipeline API Key' (sincronizada pelo setup_n8n.py)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-job-id",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-job-id",
      "name": "IF job_id OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "notes": "Verifica se a API retornou job_id com sucesso antes de iniciar polling."
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [960, 220],
      "notes": "Aguarda 30s antes do primeiro poll — pipeline precisa de tempo para iniciar."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PIPELINE_API_BASE_URL }}/api/v1/pipeline/status/{{ $('POST Pipeline Run').item.json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-poll-status",
      "name": "GET Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIPELINE_API_CREDENTIAL_ID",
          "name": "Pipeline API Key"
        }
      },
      "notes": "Polling do status do job. X-API-Key via credencial 'Pipeline API Key'."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-completed",
      "name": "IF completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 220],
      "notes": "Se completed → notifica sucesso. Se running/queued → volta ao Wait."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-failed",
      "name": "IF failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 420],
      "notes": "Se failed → notifica erro com error_message."
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-poll-loop",
      "name": "Wait 60s (poll loop)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1680, 340],
      "notes": "Loop de polling — aguarda 60s e consulta status novamente."
    },
    {
      "parameters": {
        "content": "## Notificação (opcional)\n\nConfigure credencial Slack ou Telegram.\nPlaceholder — substitua pelo nó de notificação desejado.",
        "height": 160,
        "width": 320
      },
      "id": "sticky-note-notify",
      "name": "Nota — Notificação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1660, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PIPELINE_API_BASE_URL }}/api/v1/youtube/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"{{ $('POST Pipeline Run').item.json.job_id }}\",\n  \"force\": false\n}",
        "options": {}
      },
      "id": "http-youtube-upload",
      "name": "POST YouTube Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PIPELINE_API_CREDENTIAL_ID",
          "name": "Pipeline API Key"
        }
      },
      "notes": "Dispara upload no Railway após job completed. Idempotente — não re-publica se já feito no pipeline."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0000000000"
        },
        "text": "=✅ Pipeline concluído!\n\nJob ID: {{ $('POST Pipeline Run').item.json.job_id }}\nOutput: {{ $('GET Pipeline Status').item.json.output_path }}\nYouTube: {{ $('POST YouTube Upload').item.json.url || 'upload pendente/skipped' }}\nStatus: {{ $('GET Pipeline Status').item.json.status }}",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack — Sucesso (opcional)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1680, 120],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      },
      "notes": "PLACEHOLDER — configure credencial Slack ou substitua por Telegram/Email."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0000000000"
        },
        "text": "=❌ Pipeline falhou!\n\nJob ID: {{ $('POST Pipeline Run').item.json.job_id }}\nErro: {{ $json.error_message }}\nStatus: {{ $json.status }}",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack — Erro (opcional)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1680, 520],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      },
      "notes": "PLACEHOLDER — notificação de falha."
    },
    {
      "parameters": {
        "content": "## Erro no POST\n\njob_id não retornado — verifique API Key, URL da FastAPI e logs.",
        "height": 120,
        "width": 280
      },
      "id": "sticky-note-error-post",
      "name": "Nota — Erro POST",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 480]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "POST Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Pipeline Run": {
      "main": [
        [
          {
            "node": "IF job_id OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF job_id OK?": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "GET Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pipeline Status": {
      "main": [
        [
          {
            "node": "IF completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF completed?": {
      "main": [
        [
          {
            "node": "POST YouTube Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST YouTube Upload": {
      "main": [
        [
          {
            "node": "Slack — Sucesso (opcional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF failed?": {
      "main": [
        [
          {
            "node": "Slack — Erro (opcional)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60s (poll loop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s (poll loop)": {
      "main": [
        [
          {
            "node": "GET Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ai-commerce-os"
    },
    {
      "name": "pipeline-trigger"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Workflow alimentador: dispara pipeline no Railway via FastAPI todo dia às 8h com polling de status."
  }
}
